@charset "UTF-8";

/*

em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)

*/

body{background-color: rgb(191, 235, 221);
    font-family: Arial, Helvetica, sans-serif;}

    h1{color:  rgb(58, 80, 73);}

    h1#principal {
        text-align: center;
        background-color:  rgb(35, 51, 46);
        color: white;}

    h2{color:  rgb(16, 60, 46);}

.basico{color:rgb(32, 138, 105);
font-weight: bolder;}
.intermediario{color: brown;}
.avançado{color: rgba(86, 86, 220, 0.471);}
.destaque {background-color: rgba(187, 222, 150, 0.74);}