@charset "UTF-8";

    body{
        background-image: linear-gradient(to left, #8C1F28, #072e5c, #F2F2F2 115%);}

    h1 {
        color: #c03e49; 
        font: italic 900 40px 'Times New Roman', Times, serif;
        text-align: center;
        text-shadow: #5a0202 1px 2px 1px;
        
        /*Shorthand
    
    font-style -> font-weight -> font-size -> font-family
    
    */
    }

    p {
        color: #0d0500;
        font: normal 700 20px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    }

    mark{background-color: #c6030376;}

    main{
        background-color: #0369857f;
        width: 89em;
        box-shadow: 5px 5px 5px #5a0202;
        padding: 1px;
        border-radius: 10px
    }
    