@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marcellus&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Caveat", cursive;
    --fonte3: "Marcellus", serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    text-align: center;
    color: aliceblue;
    background-color: black;}

header > h1{
    font-size: 10vw;
    font-family: var(--fonte3);
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-size: 4.5vw;
    font-family: var(--fonte2);
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 47, 47);
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(39, 14, 14, 0.534);
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p{
    padding: 5px;
    display: inline-block;
    background: rgba(46, 32, 32, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}