@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
   
}
body{background-image: linear-gradient(to bottom,#F2D8DA, #8C4842 50%);}

main{
background-color: #fff;
border-radius: 20px;
box-shadow: 5px 5px 15px #F20519;
width: 600px;
padding: 10px;
margin: auto;
}

h1{
    color: #F25C84; 
    text-align: center;
    text-shadow: 2px 2px 2px #8c4842c1;}

h2{color: #255459;}

p{ text-align: justify;}